.page-form__link {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 15px;
    text-decoration: none;
    transition: 0.5s;
}

.page-form__link:hover {
    opacity: 0.5;
}